@font-face {
    font-family: 'Gibson';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/gibson_light/Gibson-Light-webfont.eot');
    src: url('../fonts/gibson_light/Gibson-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/gibson_light/Gibson-Light-webfont.woff2') format('woff2'),
         url('../fonts/gibson_light/Gibson-Light-webfont.woff') format('woff'),
         url('../fonts/gibson_light/Gibson-Light-webfont.ttf') format('truetype'),
         url('../fonts/gibson_light/Gibson-Light-webfont.svg#gibsonlight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gibson';
    font-style: normal;
    font-weight: bold;
    src: url('../fonts/gibson_semibold/Gibson-SemiBold-webfont.eot');
    src: url('../fonts/gibson_semibold/Gibson-SemiBold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/gibson_semibold/Gibson-SemiBold-webfont.woff2') format('woff2'),
         url('../fonts/gibson_semibold/Gibson-SemiBold-webfont.woff') format('woff'),
         url('../fonts/gibson_semibold/Gibson-SemiBold-webfont.ttf') format('truetype'),
         url('../fonts/gibson_semibold/Gibson-SemiBold-webfont.svg#gibsonsemibold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Calendas Plus';
    src: url('../fonts/calendas_plus/calendas_plus-webfont.eot');
    src: url('../fonts/calendas_plus/calendas_plus-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/calendas_plus/calendas_plus-webfont.woff2') format('woff2'),
         url('../fonts/calendas_plus/calendas_plus-webfont.woff') format('woff'),
         url('../fonts/calendas_plus/calendas_plus-webfont.ttf') format('truetype'),
         url('../fonts/calendas_plus/calendas_plus-webfont.svg#calendas_plusregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Range Mono';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/range_mono/range-mono-regular-webfont.eot');
    src: url('../fonts/range_mono/range-mono-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/range_mono/range-mono-regular-webfont.woff2') format('woff2'),
         url('../fonts/range_mono/range-mono-regular-webfont.woff') format('woff'),
         url('../fonts/range_mono/range-mono-regular-webfont.ttf') format('truetype'),
         url('../fonts/range_mono/range-mono-regular-webfont.svg#range_monoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

body {
  color: #3a2934;
  font: 1em Gibson, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

a {
  color: #2084b8;
  text-decoration: none;
}

nav {
  display: block;
  position: fixed;
  width: 15%;
}

main {
  position: relative;
  left: 15%;
  width: 85%;
}

figcaption {
  color: #8e9299;
  font: normal 0.75em Range Mono, monospace;
  padding: 8px 0;
}

h2 {
  color: #8e9299;
  font-weight: 100;
  margin: 50px 0;
}

ul {
  margin: 0px;
  padding: 0px;
}

.color {}

.color__item {
  background: #F4F4F4;
  border-radius: 3px;
  display: inline-block;
  height: 100px;
  list-style: none;
  margin: 10px;
  padding: 0px;
  position: relative;
  width: 100px;
}

.color__item__label {
  background: white;
  border-radius: 2px;
  display: inline;
  font: normal 0.6em Range Mono, monospace;
  margin: 0 5px;
  padding: 3px 5px;
  position: absolute;
  bottom: 5px;
}

.berry {
  background: #b52b4a;
}

.orange {
  background: #de6628;
}

.yellow {
  background: #fdbd18;
}

.spumoni {
  background: #b4ce7d;
}

.green {
  background: #5e9b42;
}

.green {
  background: #5e9b42;
}

.teal {
  background: #105c58;
}

.blue {
  background: #2084b8;
}

.navy {
  background: #171e2c;
}

.plum {
  background: #3a2934;
}

.nav {
  padding: 50px 0 0;
}

.nav__item {
  font-weight: 100;
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.nav__item__link {
  color: #8e9299;
  display: block;
  padding: 15px 25px;
}

.font-demo {
  display: block;
  font-size: 5em;
  padding: 10px 0;
}

.calendas {
  font-family: Calendas Plus;
}

.gibson {
  font-family: Gibson;
  font-weight: 100;
}

.range-mono {
  font-family: "Range Mono";
  font-weight: 100;
}